# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6
print(number)

6

In [3]:
numbers = 27
print(numbers)

27

##### Assinging float

In [6]:
numberFloat = 7.6
print(numberFloat)
print(numberFloat)
numberFloat = 3.2
print(numberFloat)

7.6
7.6
3.2

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 8
num2 = 10 

result = num1 + num2
print(result)
result += 2
print(result)

18
20

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

2
0

##### Multiplication

In [12]:
result_mult = num1 * num2 
print(result_mult)
result_mult *= 2
print(result_mult)

80
160

##### Division

In [14]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

1.25
0.4166666666666667

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

1
0

##### Modulo

In [20]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [22]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [130]:
name = "Devon "
print(name_1)
example = 'This is a string!'
print(name, example)

Devon
Devon  This is a string!

##### print() <br>
<p>Don't forget about end=' '</p>

In [131]:
print("This is my name:", name)
print("Full Name:", name, end=' Anderson')

This is my name: Devon
Full Name: Devon  Anderson

##### String Concatenation

In [36]:
first_name = 'Mike'
last_name = 'Lowry'
full_name = first_name + ' ' + last_name
print(full_name)
full_name += ", Sr"
print(full_name)

Mike Lowry
Mike Lowry, Sr

##### Type Conversion

In [40]:
number = 32 
print(number)
change_type_num = int(number)
print(number)
print(change_type_num)
print(change_type_num + 5)

32
32
32
37

##### input()

In [51]:
#input will always return a string
name = input("What is your name? ")
print(name)
print("Hello " + name + "." + " Welcome to the world of Tech!")
age = int(input("How old are you? "))
add_age = int(age) + 2
print(add_age)

What is your name? Devon
Devon
Hello Devon. Welcome to the world of Tech!
How old are you? 22
24

##### format()

In [56]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser! ".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 28
You are 28 Devon and you are getting wiser!
28 is a great time in life!

##### Old Way (python 2)

In [57]:
result_again2 = "You are %s and you look great for your age!" %age
print(result_again2)

You are 28 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [77]:
name = input("What is your name?: ")
car_type = input("What type of car model do you have?: ")
car_year = input("What year is your car?: ")
car_color = input("What color is your car?: ")
print(name)
result_car = "{} you have a {} {} {}.".format(name,car_color,car_year,car_type) 
print(result_car)

What is your name?: Devon
What type of car model do you have?: Chevy
What year is your car?: 2016
What color is your car?: silver
Devon
Devon you have a silver 2016 Chevy.

### If Statements

In [85]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 7
num2 = 16
if num1 == num2:
    print("What a pair!")
else: 
    print("Not exactly!")

if num1 == 6:
    print("Num1 it is !")
elif num1 < num2:
    print("Num 2 has a bit of a difference.")
else:
    print("Try Again.")

Not exactly!
Num 2 has a bit of a difference.

##### 'is' keyword

In [1]:
# The is keyword is used for checking the same object but not the same value

num3 = 55 

if num3 is 55:
    print("This is the exact number\object.")

This is the exact number\object.

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/0x/1p_jx9417qx2jstyz6nsl53w0000gn/T/ipykernel_43077/488919932.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [87]:
#Check if a character is in a string 

char_name = "Mike Lowry"

if "Mike" in char_name:
    print("Bad Boys For Life!")

Bad Boys For Life!

##### 'not in' keyword'

In [88]:
# Checks if a character is not in a string 

Toon_char = "Samurai Jack"

if "z" not in Toon_char:
    print("Z not found.")

Z not found.

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [95]:
input = ("Good Times")

if "p" in input:
    print("P is in this statment.")
else:
    print("P not found here.")

P not found here.

In [ ]:
Using 'and'/'or' With If Statements

In [99]:
num_11 = 15
num_12 = 3
num_13 = 10 
num_14 = 3

# If with 'and' statement 
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [19]:
first_name = input("What is your name? ")

if first_name == 'Smith':
    print("The name is Smith")
elif first_name == 'Devon':
    print("Hello there Devon!")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? Devon
Hello there Devon!

### Else Statements

In [7]:
# see above

### For Loops

In [29]:
# Syntax:
#  for counter in condition

name = "Devon Anderson"
a_list = [1, 2, 3, 4]

print(name)
for letter in name:
    print(name)
for any in a_list:
    print(a_list)
for i in a_list:
    print(i)

Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
Devon Anderson
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
1
2
3
4

##### Using 'in' keyword

In [22]:
# see above

##### Continue Statement

In [23]:
# will continue to next iteration

In [38]:
name = 'Devon Anderson'

#for i in range(20):
   # if i == 5:
   #     continue
   # print(i)
for e in name:
    if e == 'e':
        continue
    print(e)

D
v
o
n

A
n
d
r
s
o
n

##### Break Statement

In [35]:
# will break out of current loop

In [40]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [25]:
# mostly used as a placeholder, and will continue on same iteration

In [42]:
name = 'Devon Anderson'
for i in name:
    pass

##### Double For Loops

In [43]:
#for i in range(5):
    #for j in range(5):
        #print('i = ', i, 'j = ',j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [2]:
#Syntax
#While keyword, Condition Statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("Would you like to stop? ")
    if user_input == 'Yes':
        game_over = False

##### While & For Loops Used Together

In [1]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " , str(i))
        
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

# Built-In Functions

##### range()

In [6]:
# range(start,stop,step)

for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [8]:
# The sum of characters in a variable
name = input("What is your favorite movie? ")
length = len(name)
print(length)

What is your favorite movie? Bad Boys 2
10

##### help()

In [12]:
# Use this function to view more info about a Python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [24]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var,type)
num = input("Pick a number: ")
if isinstance(int(num), int):
    print(f"{num} is an int")
else:
    print(f"{num}is a float")
#print(isinstance(4.5, int))
#if isinstance(4.5, float):
    #print("This number is a float type")

Pick a number: 27
27 is an int

##### abs()

In [34]:
# /-5/ = 5
print(abs(-5))
print(abs(20))

5
20

### Try and Except

In [44]:
# Use this to log out useful and grateful error messages
# Does not stop the program 

try:
    input_num = int(input("Guess a number: "))
    print("Your number is: " + str(input_num))

except:
    print("That didnt work, Change your input.")

Guess a number: 22
Your number is: 22

### Lists

##### Declaring Lists

In [45]:
list_1 = []

names = ['Devon','Amanda','Kathy','Raymond','Michelle']
print(names)

['Devon', 'Amanda', 'Kathy', 'Raymond', 'Michelle']

##### Indexing a List

In [57]:
# list_name(start,stop,step)

# Single Index
print(names[3])

# Print starting at index 1 until the end
print(names[1:])

# Print starting at the beginning of a list up to a number 
print(names[:4])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back of a list and displaying in reverse order
print(names[::-1])

Raymond
['Amanda', 'Kathy', 'Raymond', 'Michelle', 'kayla', 'jason']
['Devon', 'Amanda', 'Kathy', 'Raymond']
['Amanda', 'Raymond', 'kayla']
['jason', 'kayla', 'Michelle', 'Raymond', 'Kathy', 'Amanda', 'Devon']

##### .append()

In [65]:
names.append('jason')
print(names)

['Devon', 'Amanda', 'Kathy', 'Raymond', 'Lauren', 'Lauren', 'jason', 'jason']

##### .insert()

In [64]:
names.insert(4,'Lauren')
print(names)

['Devon', 'Amanda', 'Kathy', 'Raymond', 'Lauren', 'Lauren', 'jason']

##### .pop()

In [62]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable 
my_names = names.pop(5)
print(my_names)
print(names)

Michelle
['Devon', 'Amanda', 'Kathy', 'Raymond', 'Lauren']


##### .remove()

In [68]:
# Value to be removed rather than index
names.remove('jason')
print(names)

['Devon', 'Amanda', 'Kathy', 'Raymond', 'Lauren', 'Lauren']

##### del()

In [71]:
# Goes by index rather than value 
# Be careful as it can cause indexing errors if not used carefully 

del(names)[4]
print(names)

['Devon', 'Amanda', 'Kathy', 'Raymond', 'Lauren']

##### Concatenating Two Lists

In [76]:
# Will append two lists together, but will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold ANY type of other elements! Including other lists!
# They can go as deep as you want them to. This is called nested lists!

names = ['Max','Sam','Josh',['Sally', ['Sue','Jim'],'Tameka']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [81]:
# Two ways of looping through lists. One is indexing while the other is using the 'in' keyword

#By Index
#For i in range(len(names)):
#    print(names[i])
print(len(names))

for name in names:
    print(name)

4
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [87]:
cubes3 = [value ** 3 for value in range(1,11)]

print(cubes3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [115]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
lower = 1 
upper = 100

for num in range(lower,upper + 1):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
            else:
                print(num)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [2]:
user_age = input("How old are you? ")

if int(user_age) < 18:
    print("Kids")
elif int(user_age) <= 65:
    print("Adults")
else:
    print("Senior")

print(user_age)

How old are you? 28
Adults
28